@import url(http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Russo+One);

html {
    height: 100%;
}

* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    margin: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ffffff; /* Old browsers */

    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */

    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed)); /* Chrome,Safari4+ */

    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* Chrome10+,Safari5.1+ */

    background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* Opera 12+ */

    background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* IE10+ */

    background: radial-gradient(ellipse at center, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}

#canvas {

}

.icon-logo {
    width: 7cm;
    height: 7cm;
    -webkit-box-shadow: 0px 0px 39px #999999;
    box-shadow: 0px 0px 39px #999999;
}

#news {
    background-color: #333333;
    -webkit-box-shadow: 0px 0px 39px #999999;
    box-shadow: 0px 0px 39px #999999;
    margin-bottom: 70pt;
}

li {
    padding-top: 10pt;
}

#center-block {
    margin-bottom: auto;
    margin-left: auto;
    margin-top: 1cm;
    margin-right: auto;

    color: #333333;
}

.info {
    color: #707070;
}

a {
    color: #333333;
    font-size: 1.1em; /* Approximation due to font substitution */
    font-weight: 500;
    /*text-decoration: none;*/
}

h1 {
    font-family: "Russo One", sans-serif;
    font-size: 33pt;
    color: #CCCCCC;

}

h2, h3 {
    font-family: "Russo One", sans-serif;
}

h4 {
    padding: 12pt;
    color: #CCCCCC;
    font-size: 33pt;
    text-shadow: 3px 3px 3px #000000;
}
