/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "flatSpark.components.*";
@namespace ns "http://flex.apache.org/experimental/ns";

@font-face {
    src: url("/fonts/Roboto-Regular.ttf");
    fontFamily: Roboto;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Bold.ttf");
    fontFamily: Roboto;
    fontWeight: bold;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Italic.ttf");
    fontFamily: Roboto;
    fontStyle: italic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Light.ttf");
    fontFamily: Roboto-Light;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Thin.ttf");
    fontFamily: Roboto-Thin;
    embedAsCFF: true;
}

/*MX*/
@font-face {
    src: url("/fonts/Roboto-Thin.ttf");
    fontFamily: Roboto-Thin-MX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/Roboto-Regular.ttf");
    fontFamily: Roboto-MX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/Roboto-Bold.ttf");
    fontFamily: Roboto-MX;
    fontWeight: bold;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/Roboto-Light.ttf");
    fontFamily: Roboto-Light-MX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/Roboto-Medium.ttf");
    fontFamily: Roboto-Medium-MX;
    embedAsCFF: false;
}

global {
    modal-transparency: 0.98;
    modal-transparency-blur: 0;
    modal-transparency-color: #2c3e50;
}

s|Application {
    fontFamily: Lato;
}

s|Label,
s|Button {
    fontFamily: Roboto;
    font-lookup: embeddedCFF;
    skinClass: ClassReference("flatSpark.skins.ButtonSkin");
}

components|ButtonIcon {
    skinClass: ClassReference("flatSpark.skins.ButtonIconSkin");
}

components|TextInputIcon {
    skinClass: ClassReference("flatSpark.skins.TextInputIconSkin");
}

components|ToggleSwitch {
    skinClass: ClassReference("flatSpark.skins.ToggleSwitchSkin");
}

s|TextArea {
    borderVisible: false;
    fontFamily: Roboto-Light;
}

s|TextInput {
    skinClass: ClassReference("flatSpark.skins.TextInputSkin");
    /*color: #01579B;*/
    /*contentBackgroundColor: #E1F5FE;*/
    borderVisible: false;
    fontFamily: Roboto-Light;
}

UITextFormat {
    fontFamily: Roboto-Light-MX;
}

.sendTextField {
    fontFamily: Roboto-Light;
    fontSize: 18;
}

.sendHeader {
    fontFamily: Roboto-Light;
    fontSize: 18;
}

s|CheckBox {
    skinClass: ClassReference("flatSpark.skins.CheckBoxSkin");
}

s|RadioButton {
    skinClass: ClassReference("flatSpark.skins.RadioButtonSkin");
}

s|CheckBox {
    skinClass: ClassReference("flatSpark.skins.CheckBoxSkin");
}

s|RadioButton {
    skinClass: ClassReference("flatSpark.skins.RadioButtonSkin");
}

s|TitleWindow {
    skinClass: ClassReference("flatSpark.skins.TitleWindowSkin");
}

s|Panel {
    skinClass: ClassReference("flatSpark.skins.PanelSkin");
}

s|ComboBox {
    skinClass: ClassReference("flatSpark.skins.ComboBoxSkin");
}

s|DropDownList {
    skinClass: ClassReference("flatSpark.skins.DropDownListSkin");
}

ns|ProgressBar {
    skinClass: ClassReference("flatSpark.skins.ProgressBarSkin");
}

ns|Alert {
    skinClass: ClassReference("flatSpark.skins.AlertSkin");
}