@namespace "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

/*ROBOTO*/
@font-face {
    src: url("/fonts/Roboto-Regular.ttf");
    fontFamily: Roboto;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Bold.ttf");
    fontFamily: Roboto;
    fontWeight: bold;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Italic.ttf");
    fontFamily: Roboto;
    fontStyle: italic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Light.ttf");
    fontFamily: Roboto-Light;
    embedAsCFF: true;
}

/*MX*/
@font-face {
    src: url("/fonts/Roboto-Regular.ttf");
    fontFamily: Roboto-MX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/Roboto-Bold.ttf");
    fontFamily: Roboto-MX;
    fontWeight: bold;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/Roboto-Light.ttf");
    fontFamily: Roboto-Light-MX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/Roboto-Medium.ttf");
    fontFamily: Roboto-Medium-MX;
    embedAsCFF: false;
}

StyleableTextField {
    fontFamily: Roboto-MX;
    fontWeight: "regular"
}

mx|StyleableTextField {
    fontFamily: Roboto-MX;
    fontWeight: "regular"
}

Button {
    /*fontWeight: "bold";*/
    skinClass: ClassReference("spark.skins.android4.ButtonSkin");
    /*fontWeight: normal;*/
    fontFamily: Roboto-MX;
    fontWeight: "regular";
    color: #E1F5FE;
}

ButtonBar {
    /*fontWeight: "bold";*/
    skinClass: ClassReference("spark.skins.android4.ButtonBarSkin");
    color: #ffffff;
    fontSize: 13pt;
}

SpinnerList {
    skinClass: ClassReference("spark.skins.android4.SpinnerListSkin");
}

CheckBox {
    skinClass: ClassReference("spark.skins.android4.CheckBoxSkin");
}

RadioButton {
    skinClass: ClassReference("spark.skins.android4.RadioButtonSkin");
}

TextInput {
    skinClass: ClassReference("spark.skins.android4.TextInputSkin");
    color: #0d3148;
    /*contentBackgroundColor: #E1F5FE;*/
    borderVisible: true;
    contentBackgroundAlpha: 1;
    contentBackgroundBorder: flat;
}

HSlider {
    skinClass: ClassReference("spark.skins.android4.HSliderSkin");
}

Callout {
    skinClass: ClassReference("spark.skins.android4.CalloutSkin");
}

Alert {
    skinClass: ClassReference("flatSpark.skins.AlertSkin");
    fontFamily: "Roboto-MX";
}

/*DateSpinner{*/
/*skinClass: ClassReference("spark.skins.android4.SpinnerListSkin");*/
/*}*/

Label {
    fontFamily: Roboto-Light;
}

ButtonBarButton {
    fontFamily: Roboto-Light;
}

TextArea {
    borderVisible: false;
    fontFamily: Roboto-Light-MX;
}

Label {
    fontFamily: Roboto;
}

FormItem {
    backgroundAlpha: 0;
}

UITextFormat {
    fontFamily: Roboto-Light-MX;
}

.sendTextField {
    fontFamily: Roboto-Light;
    fontSize: 18;
}

.sendHeader {
    fontFamily: Roboto-Light;
    fontSize: 18;
}

Form {
    backgroundAlpha: 0;
}

.sendTextField {
    fontFamily: Roboto-Light;
    fontSize: 18;
}

.sendHeader {
    fontFamily: Roboto-Light;
    fontSize: 18;
}

global {
    chromeColor: #1A5A72;
    color: #36BFF2;
    symbolColor: #2583A5;
}

Button {
    color: #e1f5fe;
}
